.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.containerTitle {
    text-align: center;
}

.textPropsChangeContainer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buttonBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonsInline {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.checkboxContainer {
    display: flex;
    gap: 5px;
}