.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.containerTitle {
    text-align: center;
}

.textPropsChangeContainer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buttonBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonsInline {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button {
    background: #c1c2c3ff;
    border: 1px solid #b4b4b4;
    cursor: pointer;
    padding: 2px;
    font-family: "Anonymous Pro", serif;
    font-size: 15px;
    text-align: center;
}

.checkboxContainer {
    display: flex;
    gap: 5px;
}